<div class="add-reminder">

  {{input class="title-input" type="text" value=model.title placeholder="Enter Title"}}

  {{input class="body-input" type="text" value=model.body placeholder="Enter Reminder"}}

  {{input class="date-input" type="text" value=model.date placeholder="Enter Date"}}

  <button {{action 'select' model}}
    class="add-reminder">
    Add Reminder
  </button>

</div>

{{outlet}}
